* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#valueResistence {
  border-radius: 0.25rem;
  padding: 0.625rem 0.625rem;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  width: 100%;
}

#btn {
  font-size: 1.1875rem;
  font-weight: bold;
  padding: 0.4375rem 0.9375rem;
  width: 63.5%;
}

#btn:hover {
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#imgResistence {
  width: 18.75rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.25rem;
}

.container-resultado {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  padding: 0.625rem;
  position: relative;
  width: 50%;
}

#first-band {
  height: 4.8125rem;
  left: -2.375rem;
  position: absolute;
  top: 1.1875rem;
  width: 0.875rem;
}
#second-band {
  height: 3.5625rem;
  left: 0.3125rem;
  position: absolute;
  top: 1.8125rem;
  width: 0.875rem;
}
#third-band {
  height: 3.5625rem;
  left: 5rem;
  position: absolute;
  top: 1.8125rem;
  width: 0.875rem;
}
#fourth-band {
  height: 4.75rem;
  left: 11.5625rem;
  position: absolute;
  top: 1.1875rem;
  width: 0.875rem;
}
.text {
  font-size: 1.25rem;
  font-weight: bold;
}

.default {
  background-color: #8080804f;
}

#tolerance {
  height: 100%;
  border-radius: 0.25rem;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: rgb(162, 162, 162);
}

option {
  text-align: center;
}

#title {
  font-size: 2.1875rem;
  margin: 1.75rem 0;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #imgResistence {
    width: 34.375rem;
  }
  #first-band {
    height: 8.8125rem;
    left: -4.375rem;
    position: absolute;
    top: 1.75rem;
    width: 1.125rem;
  }
  #second-band {
    height: 6.4375rem;
    left: -0.3125rem;
    position: absolute;
    top: 2.8125rem;
    width: 1.125rem;
  }
  #third-band {
    height: 6.4375rem;
    left: 9.375rem;
    position: absolute;
    top: 2.8125rem;
    width: 1.125rem;
  }
  #fourth-band {
    height: 8.75rem;
    left: 21.25rem;
    position: absolute;
    top: 1.625rem;
    width: 1.125rem;
  }
  #valueResistence {
    font-size: 1.25rem;
    height: 5rem;
  }
  #tolerance {
    height: 5rem;
    font-size: 1.25rem;
  }
  .text {
    font-size: 2.1875rem;
  }
}

@media (min-width: 1025px) {
  #imgResistence {
    width: 34.375rem;
  }
  #first-band {
    height: 8.8125rem;
    left: -4.375rem;
    position: absolute;
    top: 1.75rem;
    width: 1.125rem;
  }
  #second-band {
    height: 6.4375rem;
    left: -0.3125rem;
    position: absolute;
    top: 2.8125rem;
    width: 1.125rem;
  }
  #third-band {
    height: 6.4375rem;
    left: 9.375rem;
    position: absolute;
    top: 2.8125rem;
    width: 1.125rem;
  }
  #fourth-band {
    height: 8.75rem;
    left: 21.25rem;
    position: absolute;
    top: 1.625rem;
    width: 1.125rem;
  }
  #valueResistence {
    font-size: 1.25rem;
    height: 5rem;
  }
  #tolerance {
    height: 5rem;
    font-size: 1.25rem;
  }
  .text {
    font-size: 2.1875rem;
  }
} /* app que en base a los datos que ingrese 
el usuario le permita de forma grafica ver que resistencia 
corresponde al valor ingresado. */
