* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#valueResistence {
  padding: 10px 10px;
  border-radius: 0.25rem;
}

.container-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#btn {
  padding: 7px 15px;
  width: 63.5%;
  font-weight: bold;
  font-size: 19px;
}

#btn:hover {
  background-color: #1e1e1e;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

#imgResistence {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container-resultado {
  padding: 10px;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#first-band {
  position: absolute;
  top: 19px;
  left: -38px;
  width: 14px;
  height: 77px;
}
#second-band {
  position: absolute;
  top: 29px;
  left: 5px;
  width: 14px;
  height: 57px;
}
#third-band {
  position: absolute;
  top: 29px;
  left: 80px;
  width: 14px;
  height: 57px;
}
#fourth-band {
  position: absolute;
  top: 19px;
  left: 185px;
  width: 14px;
  height: 76px;
}
.text {
  font-size: 20px;
  font-weight: bold;
}

.default {
  background-color: #8080804f;
}

#tolerance {
  height: 100%;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: rgb(162, 162, 162);
}

option {
  text-align: center;
}

#title {
  font-size: 35px;
  text-align: center;
  margin: 28px 0;
}

/* app que en base a los datos que ingrese 
el usuario le permita de forma grafica ver que resistencia 
corresponde al valor ingresado. */
